.App {
  text-align: center;
}

header {
  width: 100%;
  background-color: blue;
  padding: 60px 0;
  color: white;
  text-align: center;
  font-size: large;
}

.mainSection {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 100%;
  color: blue;
}

.nav {
  background-color: darkgrey;
  grid-column: span 1;
  flex-grow: 1;
}

.primaryButton {
  color: white;
  background-color: red;
  text-align: right;
}

.cardParent {
  background-color:lightgray;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
}

.cardRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card{
  padding: 40px;
  margin: 20px;
  background-color: white;
}

.footer {
  padding: 40px;
  background-color: black;
  color: white;
  text-align: right;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
